@page
@model AUTOPARC.Pages.Vehicule.SelectionMarqueModel
@{
    ViewData["Title"] = "Ajouter véhicules";
}


<div class="container-fluid">

    <div class="container-fluid bg-dark py-1 mb-2">
        <h3 class="text-center text-light">Véhicules</h3>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title title-2 text-dark">Ajouter Véhicule</h4>
            <hr>
            @if (!ModelState.IsValid)
            {
                <div class="d-flex justify-content-center">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            <p><span asp-validation-for="Marques.Nom"></span></p>
                        </div>
                    </div>
                </div>
            }
            @if (Model.company_not_found)
            {
                <div class="d-flex justify-content-center">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            <p><span>Aucune société n'est enregistrée, veuillez en enregistrer une et réessayer.</span></p>
                        </div>
                    </div>
                </div>
            }
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <form method="post">

                        @if (Model.SocietesList.Count > 1)
                        {
                            <div class="card" style=" background-color:#DFDDDE">
                                <div class="card-body">
                                    <h4 class="card-title">Sélectionnez Société</h4>

                                    <div class="form-group h6">
                                        <select asp-for="Societes.Id" class="form-control form-select">
                                            @foreach (var item in Model.SocietesList)
                                            {
                                                <option value="@item.Id">@item.RaisonSocial</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>
                        }

                        <div class="card" style=" background-color:#DFDDDE">
                            <div class="card-body">
                                <h4 class="card-title">Choisir Marque Vehicule</h4>

                                <div class="form-group h6">
                                    <select asp-for="Marques.Id" class="form-control form-select">
                                        <option value="">Choisir...</option>
                                        @foreach (var item in Model.MarquesList)
                                        {
                                            <option value="@item.Id">@item.Nom</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group row text-white">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mt-3">
                                        <button asp-page-handler="Select" class="btn btn-lg btn-primary btn-block">Suivant</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>