@page
@model AUTOPARC.Pages.Chauffeur.CreateModel
@{
    ViewData["Title"] = "Ajouter Chauffeur";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Chauffeurs</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Ajouter Chauffeur</h4>
            <hr>
            <form method="post">

                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Chauffeurs.Nom">Nom <span style="color:red">*</span></label>
                        <span asp-validation-for="Chauffeurs.Nom" class="text-danger"></span>
                        <input asp-for="Chauffeurs.Nom" type="text" class="required form-control fs-4">
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Chauffeurs.Prenom">Prenom <span style="color:red">*</span></label>
                        <span asp-validation-for="Chauffeurs.Prenom" class="text-danger"></span>
                        <input asp-for="Chauffeurs.Prenom" type="text" class="form-control fs-4">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Chauffeurs.Cin">CIN <span style="color:red">*</span></label>
                        <span asp-validation-for="Chauffeurs.Cin" class="text-danger"></span>
                        <input asp-for="Chauffeurs.Cin" type="text" class="form-control fs-4">
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Chauffeurs.Portable">Portable <span style="color:red">*</span></label>
                        <span asp-validation-for="Chauffeurs.Portable" class="text-danger"></span>
                        <input asp-for="Chauffeurs.Portable" type="text" class="form-control fs-4">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Chauffeurs.Email">Email</label>
                        <span asp-validation-for="Chauffeurs.Email" class="text-danger"></span>
                        <input asp-for="Chauffeurs.Email" type="email" class="form-control fs-4">
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Chauffeurs.DateNaissance">Date de Naissance</label>
                        <span asp-validation-for="Chauffeurs.DateNaissance" class="text text-danger"></span>
                        <input asp-for="Chauffeurs.DateNaissance" type="date" class="form-control" max="@DateTime.Now.AddYears(20).ToString("yyyy-MM-dd")" aria-required="true">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Chauffeurs.NumeroPermisConduire">Numero Permis de Conduire</label>
                        <span asp-validation-for="Chauffeurs.NumeroPermisConduire" class="text-danger"></span>
                        <input asp-for="Chauffeurs.NumeroPermisConduire" type="text" class="required form-control fs-4">
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Chauffeurs.DateExpirationPermis">Date Expiration Permis</label>
                        <span asp-validation-for="Chauffeurs.DateExpirationPermis" class="text text-danger"></span>
                        <input asp-for="Chauffeurs.DateExpirationPermis" type="date" class="form-control" max="@DateTime.Now.AddYears(20).ToString("yyyy-MM-dd")" aria-required="true">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Chauffeurs.Disponibilite">Disponibilite</label>
                        <span asp-validation-for="Chauffeurs.Disponibilite" class="text-danger"></span>
                        <select asp-for="Chauffeurs.Disponibilite" class="form-control form-select">
                            <option value="oui">Oui</option>
                            <option value="non">Non</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Chauffeurs.DateEmbauche">Date Embauche <span style="color:red">*</span></label>
                        <span asp-validation-for="Chauffeurs.DateEmbauche" class="text text-danger"></span>
                        <input asp-for="Chauffeurs.DateEmbauche" type="date" class="form-control" max="@DateTime.Now.AddYears(20).ToString("yyyy-MM-dd")" aria-required="true">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Chauffeurs.Adresse">Adresse</label>
                        <textarea asp-for="Chauffeurs.Adresse" class="form-control fs-5" rows="4" aria-required="true"></textarea>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Chauffeurs.Remarques">Remarques</label>
                        <textarea asp-for="Chauffeurs.Remarques" class="form-control fs-5" rows="4" aria-required="true"></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <button asp-page-handler="Create" class="btn btn-lg btn-primary btn-block mt-4 w-50 mx-auto">Ajouter</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}