@page
@model AUTOPARC.Pages.Fournisseur.CreateModel
@{
    ViewData["Title"] = "Ajouter Fournisseur";
}


<div class="container-fluid">
    <div class="container-fluid py-1 mb-2 bg-dark">
        <h3 class="mb-0 text-center text-light">Fournisseurs</h3>
    </div>

    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title title-2">Ajouter Fournisseur</h4>
            <hr>
            @if (Model.check_phoneNumber)
            {
                <div asp-validation-summary=All class="alert alert-danger" role="alert">
                    <p>Au moins un numéro de téléphone doit être saisi!</p>
                </div>
            }
            @if (Model.check_exception)
            {
                <div asp-validation-summary=All class="alert alert-danger" role="alert">
                    <p>Veuillez vérifier vos entrées.</p>
                </div>
            }
            <form method="post">

                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Fournisseurs.Nom" class="control-label">Nom <span class="text-danger">*</span></label>
                        <span asp-validation-for="Fournisseurs.Nom" class="text-danger"></span>
                        <input asp-for="Fournisseurs.Nom" type="text" class="form-control required">
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Fournisseurs.Email" class="control-label">Email </label>
                        <span asp-validation-for="Fournisseurs.Email" class="text-danger"></span>
                        <input asp-for="Fournisseurs.Email" type="email" class="form-control">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Fournisseurs.Telephone" class="control-label">Telephone</label>
                        <span asp-validation-for="Fournisseurs.Telephone" class="text-danger"></span>
                        <input asp-for="Fournisseurs.Telephone" type="text" class="form-control" oninput="validateNumbersAndPlus(this)">
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Fournisseurs.Portable" class="control-label">Portable</label>
                        <span asp-validation-for="Fournisseurs.Portable" class="text-danger"></span>
                        <input asp-for="Fournisseurs.Portable" type="text" class="form-control" oninput="validateNumbersAndPlus(this)">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Fournisseurs.VilleId">Ville <span class="text-danger">*</span></label>
                        <span asp-validation-for="Fournisseurs.VilleId" class="text-danger"></span>
                        <select asp-for="Fournisseurs.VilleId" class="form-control form-select required">
                            <option value="">Choisir...</option>
                            @foreach (var item in Model.Villes)
                            {
                                <option value="@item.Id">@item.Nom</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
                        <label asp-for="Fournisseurs.TypeFrsId">Type Fournisseur <span class="text-danger">*</span></label>
                        <span asp-validation-for="Fournisseurs.TypeFrsId" class="text-danger"></span>
                        <select asp-for="Fournisseurs.TypeFrsId" class="form-control form-select required">
                            <option value="">Choisir...</option>
                            @foreach (var item in Model.TypeFournisseurs)
                            {
                                <option value="@item.Id">@item.Type</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Fournisseurs.Adresse" class="control-label">Adresse</label>
                        <textarea asp-for="Fournisseurs.Adresse" class="form-control" rows="4" aria-required="true"></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <button asp-page-handler="Create" class="btn btn-lg btn-primary btn-block mt-4 w-50 mx-auto">Ajouter</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@section InputsPattern {
    <script>
        function validateNumbersAndPlus(inputElement) {
            const regex = /^[\d+]*$/; // Regular expression to allow only digits (0-9) and '+'

            const inputValue = inputElement.value;
            const isValid = regex.test(inputValue);

            if (!isValid) {
                inputElement.value = inputValue.replace(/[^\d+]/g, ''); // Remove any characters other than digits and '+'
            }
        }
    </script>
}